body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #f15050;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

.project {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-button {
    display: inline-block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #555;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    width: 100%;
}
